@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e40af;
  --color-primary-deep: #00288e;
  --color-primary-container: #1e40af;
  --color-primary-on: #ffffff;
  --color-primary-on-container: #a8b8ff;

  --color-secondary: #006c4a;
  --color-secondary-container: #82f5c1;
  --color-secondary-on: #ffffff;
  --color-secondary-on-container: #00714e;

  --color-surface: #f9f9ff;
  --color-surface-dim: #d3daea;
  --color-surface-bright: #f9f9ff;
  --color-surface-tint: #3755c3;
  --color-surface-lowest: #ffffff;
  --color-surface-low: #f0f3ff;
  --color-surface-high: #e2e8f8;
  --color-surface-highest: #dce2f3;

  --color-error: #ba1a1a;
  --color-background: #f9f9ff;
  --color-outline: #757684;
  --color-outline-variant: #c4c5d5;
  --color-on-surface: #151c27;
  --color-on-surface-variant: #444653;
  --color-on-background: #151c27;
}
